name: Azure ML CI

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Install Azure ML CLI
      run: |
        az extension add -n ml

    - name: Submit Azure ML Job
      run: |
        az ml job create \
          --file job.yml \
          --resource-group rg-mlproject \
          --workspace-name mlproj-ws-yashas
